<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="student-login-page">

<form method="post" class="student-login-form">
    {% csrf_token %}
    <h2>Student Login</h2>
    <label for="roll_number">University Roll Number:</label>
    <input type="text" id="roll_number" name="roll_number" required autocomplete="username">

    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" required>

    <button type="submit">Login</button>
</form>

</body>
</html>
