<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header class="main-header">
    
    <!-- Logo Section -->
<div style="height:60px; display:flex; align-items:center;">
    <a href="{% url 'dashboard' %}" style="display:flex; align-items:center;">
        <img src="{% static 'images/Academix.svg' %}" 
             alt="Smart Student Management Logo"
             style="
                max-height:100%;
                max-width:180px;
                width:auto;
                height:auto;
                object-fit:contain;
                display:block;
             ">
    </a>
</div>

    <!-- Navigation -->
    <nav>
        <a href="{% url 'dashboard' %}">Home</a>

        <a href="{% url 'notices' %}">
            Notices 
            {% if new_notices_count > 0 %}
                <span class="notice-count">({{ new_notices_count }})</span>
            {% endif %}
        </a>

        <a href="{% url 'fee_payments' %}">Fees Payment</a>
         <a href="{% url 'faculties' %}">Faculties</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>

</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer style="display: flex; justify-content: center; align-items: center; border-top: 1px solid #ddd; padding: 30px 0; margin-bottom: 0px; position: relative;">
    <p style="margin: 0;">© 2026 Smart Student Management System</p>
    <p style="margin: 0; position: absolute; right: 20px;">
        Developed By: <code><b><a href="https://www.linkedin.com/in/saynkundu/" style="text-decoration:underline; color: white;">Sayan Kundu</a></b></code>
    </p>
</footer>

</body>
</html>